body {
  background-color: beige;
  margin: 0;
}

.data-manager {
  display: flex;
  width: 100%;
  border: 1px solid;
  justify-items: space-between; /*check*/
  align-items: center;
}

.data-manager__table {
  width: 50%;
  border: 1px dashed;
}
