body {
  background-color: beige;
  margin: 0;
}

.data-manager {
  display: flex;
  width: 100%;
  border: 1px solid;
  justify-items: space-between; /*check*/
  align-items: center;
}

.section {
  width: 50%;
  border: 1px dashed;
}

.table {
    table-layout: fixed;
    width: 100%;
}

.table__cell-about{
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;  
    overflow: hidden;
}

.table__about-content{
    resize: none;
    overflow: hidden;
    white-space: pre-wrap;
    text-overflow: ellipsis;
}